.btn-wsp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
  }
  
  .btn-wsp:hover{
    text-decoration: none;
    color: #0df053;
    background: #fff;
    
  }

  body {
    background: rgb(0,0,0);
    background: linear-gradient(130deg, rgba(0,0,0,0.9220063025210083) 65%, rgba(34,33,30,0.927608543417367) 92%, rgba(12,15,17,0.9051995798319328) 100%);
  }