@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Roboto:ital,wght@0,500;0,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trochut:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');

ul .ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  
  
  width: 100%;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #eb15a4;
  font-size: 30px;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #eb15a4;
}
.footer-widget ul li {
  /* display: inline-block; */
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #eb15a4;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}


.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #eb15a4;
}


.contact {
width: 50px;
height: 150px;


}

.enviar {
  width: 100%;
  height: 50px;
  position:absolute;
  
  
  }




  
.contact-form-wrapper {
  padding: 10px 0;
}

.contact-form {
  padding: 30px 40px;
  
  border-radius: 12px;
  max-width: 400px;
}

.contact-form textarea {
  resize: none;
}

.contact-form .form-input,
.form-text-area {
  background-color: #f0f4f5;
  height: 50px;
  padding-left: 16px;
}

.contact-form .form-text-area {
  background-color: #f0f4f5;
  height: auto;
  padding-left: 16px;
}

.contact-form .form-control::placeholder {
  color: #aeb4b9;
  font-weight: 500;
  opacity: 1;
}

.contact-form .form-control:-ms-input-placeholder {
  color: #aeb4b9;
  font-weight: 500;
}



.contact-form .form-control:focus {
  border-color: #eb15a4;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07), 0 0 8px #eb15a4;
}

.contact-form .title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}





.beauty {
  font-family: Fasthand;
}

.quienes{
  font-family: 'Nothing You Could Do', cursive;

}

.version {
  font-family: 'Trochut', cursive;
}

.textogeneral{
  font-family: 'Xanh Mono', monospace;

}

.textoneon {

font-family: 'Neonderthaw', cursive;
}

.neon {
  border: none;

  color: rgba(255,255,255,1);
  text-decoration: normal;

  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;

  animation-name: neon;
  animation-duration: 100ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.neon2 {
  border: none;

  color: rgba(255,255,255,1);
  text-decoration: normal;

  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;


}

.neon3 {
  border: none;

  color: rgba(255,255,255,1);
  text-decoration: normal;

  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;

  animation-name: neon3;
  animation-duration: 50ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes neon {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes neon3 {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}


.neon4 {
  border: none;

  color: rgba(255,255,255,1);
  text-decoration: normal;

  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #2bd2ff , 0 0 70px #2bd2ff , 0 0 80px #2bd2ff , 0 0 100px #2bd2ff ;

  animation-name: neon5;
  animation-duration: 900ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes neon5 {  
  0% { opacity: 1.0; }
   50% { opacity: 0.8; }
  100% { opacity: 1.0; }
}

.neon6 {
  border: none;

  color: white;
  text-decoration: normal;

  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #2bd2ff , 0 0 70px #2bd2ff , 0 0 80px #2bd2ff , 0 0 100px #2bd2ff ;

  animation-name: neon6;
  animation-duration: 900ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes neon6 {  
  0% { opacity: 0.4; }
   50% { opacity: 0.2; }
  100% { opacity: 0.4; }
}


    